#root {
  margin: 0;
  padding: 0;
  height: 100%; }
  #root .loadContainer {
    height: 100vh;
    background-color: #000;
    position: relative; }
  #root .Spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  #root header {
    font-family: Montserrat,Arial,Helvetica,sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 900;
    height: 56px;
    background-color: transparent;
    color: #fff; }
    #root header .ln-logo {
      position: absolute;
      top: 20px;
      left: 20px;
      z-index: 1000; }
      #root header .ln-logo img {
        width: 80px; }
    #root header h2 {
      position: absolute;
      top: 20px;
      width: 100%;
      text-align: center;
      font-size: 16px;
      margin: 0;
      font-weight: 400;
      z-index: 890; }
    #root header nav.opened {
      visibility: visible;
      opacity: 1; }
    #root header nav {
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955), visibility 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
      background-color: rgba(0, 0, 0, 0.8);
      width: 100vw;
      height: 100vh;
      position: relative; }
      #root header nav ul {
        position: absolute;
        display: inline-block;
        top: 50%;
        left: 50%;
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%); }
        #root header nav ul li {
          float: none;
          text-align: center; }
          #root header nav ul li .nav-item {
            color: #fff;
            opacity: .5;
            text-transform: uppercase;
            transition: opacity 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
            text-decoration: none;
            font-size: 28px;
            line-height: 56px;
            letter-spacing: 10px;
            font-weight: 700; }
            #root header nav ul li .nav-item:hover {
              opacity: 1;
              background-color: transparent; }
          #root header nav ul li .nav-item.active {
            opacity: 1; }
    #root header #burger {
      position: absolute;
      top: 20px;
      right: 20px;
      cursor: pointer;
      color: #fff;
      z-index: 1000;
      width: 35px;
      height: 16px; }
      #root header #burger span {
        display: inline-block;
        position: absolute;
        height: 2px;
        background-color: #fff;
        transition: top 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955), bottom 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955), transform 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.2s, opacity 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955); }
      #root header #burger #line1 {
        width: 100%;
        top: 0; }
      #root header #burger #line2 {
        width: 75%;
        top: 7px;
        opacity: 1;
        transition: width .2s ease-in-out,opacity 0s ease-in-out .3s; }
      #root header #burger #line3 {
        width: 50%;
        bottom: 0;
        transition: all .4s ease-in-out,transform .3s ease-in-out,top .3s ease-in-out .3s; }
      #root header #burger:hover #line2 {
        width: 100%; }
      #root header #burger:hover #line3 {
        width: 100%; }
    #root header .opened span#line1.opened {
      top: 7px !important;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    #root header .opened span#line2.opened {
      opacity: 0 !important;
      transition: opacity 0s ease-in-out .3s; }
    #root header .opened span#line3.opened {
      width: 100% !important;
      bottom: 7px !important;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg); }

@media screen and (min-width: 766px) {
  #root header nav ul li .nav-item {
    font-size: 48px;
    line-height: 90px;
    letter-spacing: 14px;
    font-weight: 700; } }

/* --------------------------------

Primary style

-------------------------------- */
*, *::after, *::before {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

.main-body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  position: relative;
  height: 100vh;
  background-color: #263238;
  font-family: Montserrat,Arial,Helvetica,sans-serif; }

.main-body::before {
  /* never visible - this is used in jQuery to check the current MQ */
  content: 'mobile';
  display: none; }

@media only screen and (min-width: 750px) {
  .main-body::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'desktop'; } }

a {
  color: #267481;
  text-decoration: none; }

/* --------------------------------

Main Components

-------------------------------- */
@media only screen and (min-width: 750px) {
  .main-body[data-hijacking="on"] {
    overflow: hidden; } }

.cd-section {
  height: 100vh; }

.cd-section h2 {
  height: 100vh;
  text-align: center;
  font-size: 2.4rem; }

.cd-section:first-of-type > div {
  background-color: #000;
  background-size: 100% 100% !important;
  background-repeat: no-repeat;
  background-image: url(../media/about-bg.jpg); }
  .cd-section:first-of-type > div .baloon-A {
    position: absolute;
    bottom: 0px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 70%; }
  .cd-section:first-of-type > div .about-title {
    position: absolute;
    top: 90px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 70%;
    max-width: 700px; }
  .cd-section:first-of-type > div .scroll {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 0;
    font-size: 14px;
    padding-bottom: 40px;
    letter-spacing: 2px; }
    .cd-section:first-of-type > div .scroll::after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: 0;
      width: 2px;
      height: 30px;
      background-color: #fff; }

.cd-section:first-of-type > div::before {
  /* alert -> all scrolling effects are not visible on small devices */
  content: 'Effects not visible on mobile!';
  position: absolute;
  width: 100%;
  text-align: center;
  top: 20px;
  z-index: 2;
  font-weight: bold;
  font-size: 1.3rem;
  text-transform: uppercase;
  color: #6a7083; }

.cd-section:nth-of-type(2) > div {
  background-color: #2e5367; }

.cd-section:nth-of-type(3) > div {
  background-color: #267481; }

.cd-section:nth-of-type(4) > div {
  background-color: #fcb052; }

.cd-section:nth-of-type(5) > div {
  background-color: #f06a59; }

[data-animation="parallax"] .cd-section > div, [data-animation="fixed"] .cd-section > div, [data-animation="opacity"] .cd-section > div {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

[data-animation="parallax"] .cd-section:first-of-type > div, [data-animation="fixed"] .cd-section:first-of-type > div, [data-animation="opacity"] .cd-section:first-of-type > div {
  background-image: url("../media/img-5.jpg"); }

[data-animation="parallax"] .cd-section:nth-of-type(2) > div, [data-animation="fixed"] .cd-section:nth-of-type(2) > div, [data-animation="opacity"] .cd-section:nth-of-type(2) > div {
  background-image: url("../media/img-5.jpg"); }

[data-animation="parallax"] .cd-section:nth-of-type(3) > div, [data-animation="fixed"] .cd-section:nth-of-type(3) > div, [data-animation="opacity"] .cd-section:nth-of-type(3) > div {
  background-image: url("../media/img-5.jpg"); }

[data-animation="parallax"] .cd-section:nth-of-type(4) > div, [data-animation="fixed"] .cd-section:nth-of-type(4) > div, [data-animation="opacity"] .cd-section:nth-of-type(4) > div {
  background-image: url("../media/img-5.jpg"); }

[data-animation="parallax"] .cd-section:nth-of-type(5) > div, [data-animation="fixed"] .cd-section:nth-of-type(5) > div, [data-animation="opacity"] .cd-section:nth-of-type(5) > div {
  background-image: url("../media/img-5.jpg"); }

@media only screen and (min-width: 750px) {
  .cd-section h2 {
    font-size: 4rem;
    font-weight: 300;
    margin: 0;
    padding: 0; }
  [data-hijacking="on"] .cd-section {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; }
  [data-hijacking="on"] .cd-section > div {
    visibility: visible; }
  [data-hijacking="off"] .cd-section > div {
    opacity: 0; }
  [data-animation="rotate"] .cd-section {
    /* enable a 3D-space for children elements */
    -webkit-perspective: 1800px;
    -moz-perspective: 1800px;
    perspective: 1800px; }
  [data-hijacking="on"][data-animation="rotate"] .cd-section:not(:first-of-type) {
    -webkit-perspective-origin: center 0;
    -moz-perspective-origin: center 0;
    perspective-origin: center 0; }
  [data-animation="scaleDown"] .cd-section > div, [data-animation="gallery"] .cd-section > div, [data-animation="catch"] .cd-section > div {
    box-shadow: 0 0 0 rgba(25, 30, 46, 0.4); }
  [data-animation="opacity"] .cd-section.visible > div {
    z-index: 1; } }

@media only screen and (min-width: 750px) {
  .cd-section:first-of-type > div::before {
    display: none; } }

@media only screen and (min-width: 750px) {
  .cd-section > div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* Force Hardware Acceleration */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
  [data-hijacking="on"] .cd-section > div {
    position: absolute;
    bottom: 0;
    left: 0; }
  [data-animation="rotate"] .cd-section > div {
    -webkit-transform-origin: center bottom;
    -moz-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    -o-transform-origin: center bottom;
    transform-origin: center bottom; } }

.cd-vertical-nav {
  /* lateral navigation */
  position: fixed;
  right: 1%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  display: none;
  cursor: pointer; }

.cd-vertical-nav i {
  display: block;
  /* image replace */
  font-size: 50px;
  line-height: 50px; }

.cd-vertical-nav i.inactive {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  -moz-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  transition: opacity 0.2s 0s, visibility 0s 0.2s; }

@media only screen and (min-width: 750px) {
  .cd-vertical-nav {
    display: block; } }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@media screen and (min-width: 1020px) {
  .cd-section:first-of-type > div .baloon-A {
    height: 80%; }
  .cd-section:first-of-type > div .about-title {
    width: 60%;
    top: auto;
    bottom: 15%; } }

#main .home-content .video-content img, #main .home-content .video-content h2, #main .home-content .video-content p {
  opacity: 1;
  transition: opacity 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955), visibility 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  visibility: visible; }

#main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  font-family: Montserrat,Arial,Helvetica,sans-serif;
  color: #fff;
  font-style: italic;
  overflow: hidden; }
  #main .home-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.7);
    display: table; }
    #main .home-content .video-content {
      width: 100%;
      height: auto;
      display: table-cell;
      vertical-align: middle;
      text-align: center; }
      #main .home-content .video-content img {
        width: 70px; }
      #main .home-content .video-content h2 {
        font-weight: 700;
        margin: 0 auto;
        line-height: 60px; }
      #main .home-content .video-content p {
        margin: 0 auto;
        letter-spacing: 4px;
        line-height: 24px;
        max-width: 33em;
        padding-top: 1em; }
  #main .empty {
    opacity: 0 !important;
    visibility: hidden !important; }
  #main video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: auto;
    z-index: -100;
    transform: translate(-50%, -50%);
    background-color: #212121;
    background-size: cover;
    transition: opacity 1s; }

@media only screen and (min-height: 600px) and (max-height: 750px) {
  #main .home-content h2 {
    font-size: 2rem;
    line-height: 3rem; }
  #main .home-content p {
    max-width: 33em;
    font-size: 12px; } }
